.create-project-heading::placeholder{
    color:#D3D5DA;
}

.bg-icon {
    background-image: url('../../../images/edit-pencil.svg');
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 30px; 
  }

  .freelancer-modal {
    max-width: 40%;
    margin-left: 60% !important;
  }

  @media only screen and (max-width: 600px) and (min-width: 400px)  {
    .freelancer-modal {
      max-width: 100%;
      margin-left: 0% !important;
    }
  }

  @media only screen and (max-width: 600px ) and (min-width: 1200px)  {
    .freelancer-modal {
      max-width: 50%;
      margin-left: 50% !important;
    }
  }


  .project-card-background{
    background-color: rgba(244, 244, 246, 1) !important;
  }

  .project-pill-yellow{
    padding: 12px;
    background-color:rgba(255, 247, 209, 1);
    color: #fff7d1;
    margin-left: 5px;

  }

  
  .project-pill-purple{
    padding: 12px;
    background-color:#E0E8FF;
    color: rgba(20, 55, 143, 1);
    margin-left: 5px;

  }