.create-project-heading::placeholder{
    color:#D3D5DA;
}

.bg-icon {
    background-image: url('../../../images/edit-pencil.svg');
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 30px; 
  }