.project-tab{
    white-space: nowrap;
    font-size: 14px;

    

    .active{
        font-size: 16px;
        font-weight: 500;
    }
}

.project-tab-heading-circle{
    padding: 5px 10px;
}

.nav-tabs-custom
{ .nav-item 
    {
        .nav-link::after {
    content: "";
    // background: black;
    height: 2px;
}
}
}
.candidate-address{
    border-right: 1px solid #E5E6EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media screen and (max-width:768px){
       
        border-right: 0px !important;
   

    }
}
.candidate-section{
    border-right: 1px solid #E5E6EB;
    @media screen and (max-width:768px){
        
        border-right: 0px;

    }

}