

  h2 {
    font-size: 25px;
    color: #888;
    text-align: center;
  }

  .list {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 650px;
  }


.form-element {
  position: relative;
  width: 200px;
  height: 200px;

  input {
    display: none;
  }

  label {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    cursor: pointer;
    border: 2px solid #ECE8E8;
    border-radius: 8px; 
    background: #fff;
    box-shadow: 0px 24px 40px rgba(57, 65, 75, 0.12);
    text-align: center;
    transition: all 200ms ease-in-out;
    border-radius: 5px;

    .icon {
      margin-top: 10px;
      font-size: 30px;
      color: #555;
      transition: all 200ms ease-in-out;
      display: flex;
      justify-content: center;
    
      img{
        background: #F9F9F9;
        border-radius:50px;
        height: 105px;
        width: 105px;
      }
    }

    .title {
      font-size: 14px;
      color:#898989;
      padding: 5px 0px;
      transition: all 200ms ease-in-out;
      font-weight: 400;
    }

    &:before {
      content: "✓";
      position: absolute;
      width: 18px;
      height: 18px;
      top: 8px;
      left: 8px;
      background: #FFB802;
      color: #fff;
      text-align: center;
      line-height: 18px;
      font-size: 12px;
      font-weight: 600;
      border-radius: 50%;
      opacity: 0;
      transform: scale(0.5);
      transition: all 200ms ease-in-out;
    }
  }

 

  input:checked + label:before {
    opacity: 1;
    transform: scale(1);
    display: none;
  }

  input:checked + label .icon {
    color: #FFB802;
  }

  input:checked + label .title {
    // color: #FFB802;
   color: #898989;


  }

  input:checked + label {
    border: 2px solid #FFB802;
    box-shadow: 0px 24px 40px rgba(255, 255, 255, 0.12);

  }
  input:checked + img {
    background-color: #FFB802;
  }
}
