
.custom-bg-white{
    background-color: #fff;
}

.overflow-x-hidden{
    overflow-x: hidden;
}

.top-bar-management{
    background-color: #fff;
    @media screen and (max-width:800px) {
        margin-top: 3rem;
    }

}



.tab-btn{
    &.active{
        background-color: #E5E6EB;
    }
}