.bg-signup{
    // background-color: rgba($primary, 0.25);
    background: url("../images/signup-background-image.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}