.porfile-heading{
    font-size: 38px;
    font-weight: 700;
    color: #4D5461;
   }

.profile-para{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 34px;
    text-align: center;
    color: #9EA3AE;
}
